*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:khaki;
}
.list{
    margin: 100px 100px;
}
#taskInput{
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 0px;
    padding-right: 250px;
    padding-left:10px;
    font-family: sans-serif;
    font-size: 20px;
    background-color: moccasin;
}
form{
    text-align: center;
}
#listdone{
    display: grid;
}
.clickbtn,.editbtn{
    border: 2px solid black;
    border-radius: 15px;    
    padding: 15px 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    background-color:yellow;
}
.clickbtn , .editbtn:hover{
    cursor: pointer;
}
.todo_done{
    display: flex;
    justify-content:space-around;
    font-size: 30px;
    font-family: sans-serif;
    line-height: 50px;
}
li{
    margin: 10px 50px;
    display: block;
    display: grid;
    grid-template-columns:  5fr 1fr 0fr;
}
#taskList{
    border: 5px solid black;
    width: 45%;
    background-color:gold;
}
#listdone{
    border: 5px solid black;
    width: 45%;
    background-color: gold;
}
.title{
    display: flex;
    justify-content:space-around;
    font-size: 30px;
    font-family:cursive;
    margin: 20px 0;
}
.done{
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    font-size: 15px;
    background-color: black;
    color: wheat;
}
.undo , .edit, .delete , .done , .deleteDone:hover{
    cursor: pointer;
}